@import url(https://fonts.google.com/specimen/Inter);
@import url(https://fonts.google.com/specimen/Lexend+Deca);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body,html {
	height: 100%;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.attribution { 
	position: fixed;
  	bottom: 10px;
	margin: 0 5px;
    font-size: 11px; 
	color: white;
	text-align: center;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

body{
	position: relative;
    background-color: hsl(233, 47%, 7%);
	height: 100%;
	margin: 0;
	text-align: center;
	color:hsl(0, 0%, 100%);
}

#card{
    background-color: hsl(244, 38%, 16%);
    margin: 35px 25px;
	height: 90vh;
	border-radius: 10px;
	overflow: hidden;
}

h1 {
	color: hsl(0, 0%, 100%);
	font-size: 25px;
	font-family: Inter;
	font-weight: 700;
	margin: 30px;
	padding: auto 20px;
}
h1 span {
	color: hsl(277, 64%, 61%);
}

p {
	color: hsla(0, 0%, 100%, 0.6);
	font-family: Lexend Deca;
	font-weight: 400;
	font-size: 15px;

}

#contents {
	margin-bottom: 30px;
	padding: 0px 30px 10px;
	color: hsla(0, 0%, 100%, 0.75);
	line-height: 1.5;
}


.stath {
	font-family: Inter;
	font-weight: 700;
	font-size: 25px;
	color: hsl(0, 0%, 100%);
}
.statp {
	font-size: 13px;
}

img{
    width: 100%;
}